.rating-form {
  background: #000;
  color: #fff;
  height: 100vh;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 40vw;
}

.new-rating {
  margin: 1.5rem 3rem 0;
}

.form-item {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.form-item input {
  flex-grow: 1;
  margin-left: 40px;
}

.form-item textarea {
  flex-grow: 1;
  margin-left: 40px;
}

.form-score {
  display: flex;
  justify-content: space-between;
}

#submit {
  margin: 0;
}
